body {
    margin: 0;
    font-family: 'Nunito';
    background: #bababa;
    font-size: 18px;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    color: #008CBA;
}

h2 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    color: #00a0d6;
}

h3 {
    margin: 0;
    text-align: center;
    padding: 10px 0;
    color: #00a0d6;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

p,
label {
    font-size: 22px;
}

section {
    padding: 0px 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: block;
    margin: 0 auto;
    /* padding-bottom: 30px; */
    width: 80%;
    background: #ffffff;
}

.button {
    position: relative;
    width: 45%;
    font-size: 24px;
    text-align: center;
    border-radius: 4px;
    color: black;
    background-color: white;
    border: 2px solid #008CBA;
    margin: 0 auto 15px auto;
    padding: 5px 0;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 2;
}

.button:hover {
    font-weight: bold;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.links {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 25px;
}

.button-grey {
    width: 25%;
    font-size: 22px;
    text-align: center;
    border-radius: 4px;
    color: black;
    background-color: white;
    border: 2px solid #000000;
    margin: 0 auto 10px auto;
    padding: 5px 0;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 2;
}

.button-grey:hover {
    font-weight: bold;
    background-color: #666666;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.button-right {
    visibility: hidden;
    opacity: 0;
    cursor: none;
    transition: none;
}

.info {
    display: none;
    width: 65%;
    font-size: 18px;
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid #008CBA;
    margin: 0 auto 0px auto;
    padding: 20px 15px 5px 15px;
    position: relative;
    top: -37px;
    z-index: 1;
}

.primeNumbersBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
}

.primeBox {
    background-color: #008CBA;
    width: 50px;
    text-align: center;
}

.primeBox:hover {
    background-color: #006c90;
}

.primeNumber {
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 3px;
}

#post {
    text-align: center;
}

.button-submit {
    font-size: 22px;
    text-align: center;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: #008CBA;
    border: 2px solid #000000;
    margin: 10px auto;
    padding: 7px 15px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 2;
}

.button-submit:hover {
    font-weight: bold;
    background-color: #00a8e0;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}